numpy==1.25.2
pandas==2.1.1
faiss-cpu==1.7.4

sentence-transformers==2.3.0
transformers==4.33.3

torch==2.1.0

tensorflow==2.14.0

datasets==2.14.4
tqdm==4.66.1
streamlit==1.40.0

langchain-community
langchain-text-splitters

streamlit-option-menu==0.4.0

codecarbon==2.1.4
